.search-result .jira>div,
.search-result .asana>div{
    display: inline-block;
    float: none;
    font-size: 18px;
    line-height: 1.2;
    vertical-align: middle;
}

.search-result .jira>.jira-name,
.search-result .asana>.asana-name{
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result .asana>.asana-link a{
    background-color:#d9534f;
    border-radius: 3px;
    color:#FFF;
    display:block;
    font-size:16px;
    text-align: center;
    text-decoration: none;
}

.search-result .jira>.jira-id a {
    background-color:#d9534f;
    border-radius: 3px;
    color:#FFF;
    display:block;
    font-size:16px;
    text-align: center;
    text-decoration: none;
}

.search-result .jira>.jira-id a:hover {
    color:#EEE;
}

.search-result .jira>.jira-status {
    font-size:12px;
    text-align: right;
}
.search-result .jira>.jira-status span {
    background-color:#777;
    border-radius: 3px;
    color:#FFF;
    display:inline-block;
    font-size:11px;
    font-weight:700;
    line-height:1.6em;
    padding: 0 .5em;
    text-align: center;
    text-decoration: none;

}

.search-result .jira>.jira-assignee {
    font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

