.stud-navigation {
    background-color:#fff;
    height:51px;
}

.stud-navigation>.container{
     border-bottom:1px solid #f0ad4e;
}

.stud-navigation>.container>.navbar-brand {
    padding:14px;
}

.stud-navigation>.container>.navbar-brand:focus{
    outline:none;
}

.stud-navigation>.container>.navbar-brand img {
    display:inline-block;
    height:30px;
    margin-bottom:-30px;
    margin-top:-30px;
}

.stud-navigation .stud-navigation-search {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}
.stud-navigation .stud-navigation-search input {
    width:250px;
}

.stud-navigation ul li a {
    height:50px;
}

.stud-navigation ul li a span {
    font-size:75%;
}

