<div class="row">
    <div class="col-xs-12">
        <div class="row" style="padding-top:15px;padding-bottom:15px;">
            <div class="col-xs-12">
                <button type="button" id="returnToSearch" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </button>
            </div>
        </div>

        {{#data}}
        <div class="row">
            <div class="col-xs-12">{{template "jiraTemplate"}}</div>
        </div>

        <div class="row">
            {{#each l}} {{#data}}
            <div class="col-xs-6">{{template "asanaTemplate"}}</div>
            {{/data}} {{/each}}
        </div>

        {{/data}}

    </div>
</div>