<tr class="searchResult">
    <td>
        {{#with j}}
        {{#data}}
        {{/data}}
        {{/with}}
        <div class="row">
            <div class="col-xs-2">
                <div class="jira">
                    <h4 style="margin-top:0px;margin-bottom:0px;">{{i}}</h4>
                </div>
            </div>

            <div class="col-xs-6">
                <h4 style="margin-top:0px;margin-bottom:0px;padding-bottom:5px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{n}}</h4>
            </div>
            <div class="col-xs-3" style="text-align:right;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{u}}</div>
            <div class="col-xs-1" style="text-align:right;"><span class="label label-default" style="margin-left:-50px;">revision</span>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-xs-2" style="text-align:right;">
                <span class="label label-info" data-toggle="tooltip" data-animation="false" data-placement="left" title="Open"><span class="glyphicon glyphicon-link"></span></span>
            </div>
            <div class="col-xs-10">
                This is a sample asana name
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="text-align:right;">
                <span class="label label-info" data-toggle="tooltip" data-animation="false" data-placement="left" title="Crucible"><span class="glyphicon glyphicon-link"></span></span>
            </div>
            <div class="col-xs-10">
                This is a sample asana name
            </div>
        </div>
    </td>
</tr>