<div class="container">


    <form>
        <h3>Settings</h3>
        <label>Authentication</label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Asana Key">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Jira Key">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Slack Key">
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Debugging</label>
                    <button type="button" class="btn btn-default btn-block" id="setting-build-index">Build Index</button>
                    <button type="button" class="btn btn-default btn-block" id="setting-clear-data">Clear Data</button>
                </div>
            </div>
        </div>
    </form>
    <!-- comment -->
</div>
