<div class="row module-row">
    <div class="col-xs-2 text-center">
        <select class="form-control setting-module-type" >
            <option value="a">Asana</option>
            <option value="j">Jira</option>
        </select>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <input type="text" class="form-control setting-module-prefix">
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <input type="text" class="form-control setting-module-name">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control setting-module-project">
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <input type="text" class="form-control setting-module-filter">
        </div>
    </div>
</div>