<table class="table table-hover">
    <tbody>
        {{#group results sort}}
            {{#each group}}
                {{>stud-search-row this}}
            {{/each}}
        {{/group}}
    </tbody>
</table>
